<div class="row">
  <div class="col-md-4">
  </div>
  <div id="username" class="col-md-4">
    <input class="form-control" id="" ng-model="$ctrl.username" placeholder="Username">
  </div>
  <div class="col-md-4">
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  </div>
  <div id="password" class="col-md-4">
    <input class="form-control" type="password" id="" ng-model="$ctrl.password" placeholder="Password">
  </div>
  <div class="col-md-4">
  </div>
</div>
<div class="row">
  <div class="col-md-5">
  </div>
  <div id="new-team" class="col-md-1">
    <a type="button" href="" ng-click="$ctrl.newUser()" class="btn btn-primary">New User</a>
  </div>
  <div id="view-teams" class="col-md-1">
    <button type="button" class="btn btn-primary" ng-click="">Login</button>
  </div>
  <div class="col-md-5">
  </div>
</div>



