<form>
  <div class="row"></div>
  <div class="row" ng-if="$ctrl.showName">
    <div class="col-md-4"></div>
    <div class="form-group col-md-2">
      <input class="form-control" id="" ng-model="$ctrl.teamName" placeholder="Enter Team Name">
    </div>
    <div id="new-team" class="col-md-2">
      <a type="button" class="btn btn-primary" ng-click="$ctrl.setName()">Let's Do This!!</a>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div ng-if="$ctrl.showDraft">
    <draft team-array="$ctrl.team"></draft>
  </div>
</form>
